* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Urbanist';
    font-weight: 500;
    color: black;
    font-size: 18px;
    transition: .5s;
}

.content {
    margin: 0 auto;
    max-width: 1200px;
}

.pad-100{
    padding: 100px 0;
}

@font-face {
    font-family: 'Urbanist';
    src: url(../fonts/Urbanist/Urbanist-Regular.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Urbanist';
    src: url(../fonts/Urbanist/Urbanist-Bold.ttf);
    font-weight: 700;
}

/* шапка */

header {
    height: 85px;
    background-color: #1A3129;
    padding: 20px 162px;
}

.hed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo img {
    width: 200px;
}

nav {
    display: flex;
    gap: 26px;
}

nav a {
    color: white;
}

nav a:hover {
    color: #CBEA7B;
}

/* главная */

.